.fav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.fav .fav-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    
}

.fav .fav-item:hover {
    cursor: pointer;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.4)
}

.fav .song-img {
    width: 200px;
    padding: 20px;
    border-radius: 4px;
}

.fav .song-info {
    height: 125px;
    display: flex;
    margin: 0 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.fav .song-name {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.fav .song-author {
    color: white;
    font-size: 16px;
}
